<div id="services" class="container">
  <h1 class="hea">Services Provided</h1>
  <div class="row">
      <div class="col-lg-4">
          <div class="card">
              <div class="face front-face">

                  <div class="pt-3 text-uppercase name">
                      Designing Websites
                  </div>

              </div>
              <div class="face back-face">
                  <span class="fas fa-quote-left"></span>
                  <div class="testimonial">
                    When you’re designing your site, it’s easy to get caught up in adding too many elements to your pages. You want your site to be visually appealing, so you continually add elements to add another dimension of visual interest to your page.
                  </div>
                  <span class="fas fa-quote-right"></span>
              </div>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="card">
              <div class="face front-face">

                  <div class="pt-3 text-uppercase name">
                      Database Management
                  </div>

              </div>
              <div class="face back-face">
                  <span class="fas fa-quote-left"></span>
                  <div class="testimonial">
                      A database management system (DBMS) is system software for creating and managing databases. A DBMS makes it possible for end users to create, protect, read, update and delete data in a database.
                  </div>
                  <span class="fas fa-quote-right"></span>
              </div>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="card">
              <div class="face front-face">

                  <div class="pt-3 text-uppercase name">
                    Training
                  </div>

              </div>
              <div class="face back-face">
                  <span class="fas fa-quote-left"></span>
                  <div class="testimonial">
                    Training presents a prime opportunity to expand the knowledge base of all employees, but many employers find the development opportunities expensive.
                  </div>
                  <span class="fas fa-quote-right"></span>
              </div>
          </div>
      </div>
  </div>
</div>

